[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=tst_hacklogin
Exec=tst_hacklogin
Name=tst_hacklogin
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=tst_hacklogin

